* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #3D3E40;
}

#logo{
    padding-top:15px;
}

p{
    color:white;
}

p#contact{
    padding-bottom: 4px;
    color:white;
    font-size: 18px;
}
h1#toptitle{
    color: #FFFFFF;
    padding-top:20px;
    margin-left: 80px;
    font-family: tahoma, sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display:flex;
    align-items:center;

}


h3{
    font-size: 2em;
    font-family: arial;
    color: #DCE1E6;
    margin-bottom: 10px;
    margin-top: 4px;
    padding:0 0 0 .8em;
}

header#mast{
    display:flex;
    padding:20px;
    align-items:center;
    margin-left: 80px;
}

#main-nav ul{
    display:flex;
    margin-left:4em; 
}

#main-nav ul li{
    list-style-type:none;
    margin-right:1em;
    text-align:center;
    
}

#main-nav ul li a{
    display:inline-block;
    padding:0.4em 3em;
    color: #FEFEFE;
    font-family:arial, sans-serif;
    text-decoration: none;
    border: .1em solid #8b8b8b;
    
}


#main-nav ul li a:hover{
    background-color: rgba(122, 150, 165, 0.69);
    color:#fff;
}

header#banner{
    background-image:url(1\images\effects_banner.jpg);
    background-position: center;
    
}

#banner_transparent{
    background-color:rgba(0,52,85,0.33);
    height: 300px;
}


#main-content{
    width:100%;
    max-width:1200px;
    margin:4em 2em 3em 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    margin-top: 2em;
    padding-bottom: 18px;
}

.col-left{
    flex: 2;
}

.col-right{
    flex:1;
}

.col-left p{
    font-family: arial;
    font-size: 1em;
    line-height: 1.4;
    margin: 0 1em 0 1.7em;
}


.footer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}



#pnl_left{
    background-color:rgba(124,153,188,0.74)
}

#pnl_mid{
    background-color:rgba(124,153,188,0.74)
}

#pnl_right{
    background-color:rgba(124,153,188,0.74)
}

#pnl_left{
    padding: .2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


img#newsimage{
    width: 400px;
    height: 500px;
}












/* Dropdown Button */
.dropbtn {
  background-color: #3D3E40;
  color: white;
  padding:0.4em 3em;
  font-size: 16px;
  border: .1em solid #8b8b8b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3D3E40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(5,5,5,5.2);
  z-index: 1;
  font-family:arial, sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #7A96A5;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7A96A5;}

